<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Login.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <div class="background-container">
        <div class="form-container">
            <div class="logo">
                <div class="logo-icon">🍴</div>
                <div class="logo-text">Food<br>Restaurant</div>
            </div>
            <h1 class="form-title">Welcome Back!</h1>
            <div class="form-fields">
                <form action="/login" method="POST">
                <input type="text" placeholder="Email" name="email_login">
                <input type="password" placeholder="Password" name="password_login">
                <button type="submit">Login</button>
                </form>
            </div>

            <div class="login-link">
                Don't have an account?
                <a href="#">SignUp</a>
            </div>
        </div>
    </div>

</body>
</html>